{% macro showsingin() %}
    
<div class="container p-0 m-0">

    <div class="jumbotron bgsingin h-100 m-0 p-5">
      <div class="contsingin">
      <h1>Iniciar sesión</h1>
      <form action="/signUp" class="form-signin" method="POST">
          <label for="inputName" class="sr-only">Cedula de identidad</label>
          <input type="name" name="inputCi" id="inputCi" class="form-control" placeholder="Cedula de identidad" required autofocus>
          <label for="inputEmail" class="sr-only">Correo electronico</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
         <!--  <label for="inputPassword" class="sr-only">Contraseña</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
           -->
          <button id="btnSignin" class="btn btn-lg btn-primary btn-block" type="submit" method="post">Entrar</button>
    </form>
    </div>
  </div>
{% endmacro %}